*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
.externalNativeBuild
/.idea
/manager/signing.properties
/signing.properties
jdk21/
release.keystore
signing.properties

**/build/
**/out/
.gradle/
.kotlin/
.jdk/
*.apk
*.jar
gradle/gradle-daemon-jvm.properties
view.xml
packages.txt

# Local build/dev files
.bundle/
vendor/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
.gradle/
